<div class="flex-col justify-center items-center gap-4 p-4 border bg-gray-200 w-120 h-full border-gray-200 rounded">
    <div class="flex text-2xl font-bold pb-4">
        Nueva Venta
    </div>
    <div class="flex flex-col gap-2">
        <span>Monto:</span>
        <input class="w-full border border-black rounded p-2" [(ngModel)]="amount" type="number" id="amount">
        <span>Tipo de Pago:</span>
        <select class="w-full border border-black rounded p-2" [(ngModel)]="type" name="type" id="type">
            <option [value]="SellType.CASH">{{SellType.CASH}}</option>
            <option [value]="SellType.TRANSFER">{{SellType.TRANSFER}}</option>
            <option [value]="SellType.CREDIT">{{SellType.CREDIT}}</option>
            <option [value]="SellType.DEBIT">{{SellType.DEBIT}}</option>
        </select>
        <span>Comentarios:</span>
        <textarea [(ngModel)]="comments" name="comments" id="comments" class="w-full border border-black rounded"
            cols="10" rows="10"></textarea>
    </div>
    <div class="flex justify-end gap-2 p-4">
        <button
            class="bg-green-500 hover:bg-green-600 transition-colors duration-200 self-end text-white px-4 py-2 rounded"
            (click)="newSell(amount(), type(), comments())">Guardar</button>
        <button class="bg-red-500 hover:bg-red-600 transition-colors duration-200 self-end text-white px-4 py-2 rounded"
            (click)="close()">Cerrar</button>
    </div>
</div>